<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#" style="color: white;">Testing123 Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/books-list" style="color: white;">Show Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/add-book" style="color: white;">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">User</a>
        </li>
      </ul>
      <span class="navbar-text text-bold">
        Developed by Testers123
      </span>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Something</h1>
    <p class="lead">Project Template</p>
  </div>
<router-outlet></router-outlet>
